<?xml version="1.0" encoding="UTF-8"?>
<!--
Real environment variables file.
#
DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
Within this `maven-settings.xml.template` all the secrets are defined in that `maven-settings.xml` file,
which is meant to be used for maven.
#
Run `mvn clean package -Pdev -s maven-settings.xml` to use this file for dev environment
and `mvn clean deploy -Pprod -s maven-settings.xml` for prod environment.
#
To use this file,.
-->
<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>central</id>
            <username>username</username>
            <password>password</password>
        </server>
    </servers>
    
</settings>